
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
body{
    background-color: #061225;
    overflow:inherit;
    height:200vh;
}

.nav{
    z-index: 999;
}

.main{
    
    background-color:transparent;
    width:100%;
    height:100vh;
}

.pbtnimg{
    display: block;
    height: 60px;
}

.open{
    z-index: 1;
    position: absolute;
}

.navelem{
    width: 6.5%;
}

.navtitle{
    color:#CF0A0A;
}
.projects{
    top:0;
}

.projectslist{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color:#E8F9FD;
}

.project{
    display: flex;
    flex-direction:column;
    border:1px solid #68B984;
    box-shadow: 15px 15px 0px #68B984;
    width: 40%;
    height: 400px;
    margin-bottom: 100px;
    align-items: center;
    justify-content: space-around;
    font-family: 'Crimson Text', serif;
}

.project>h4{
    width: 80%;
    text-align: center;
}
.projectbtn>a>button{
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-family: 'Crimson Text', serif;
}

.projectbtn>a>button:hover{
    background-color: #68B984;
}

.projectbtn>a>button>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.projectbtn>a>button>div>img{
    width: 20px;
}

.proimg{
    width:250px;
    border : 1px solid #68B984;
    border-radius: 10px;
}

@media screen and (max-width:768px) {
    
    .open{
        right: 10px;
        bottom:-20px;
    }

    .project{
        box-shadow: 10px 10px 0px #68B984;
        width: 80%;
    }
    
}

@media screen and (max-width:281px) {
    
    .proimg{
        width:200px;
        border : 1px solid #68B984;
        border-radius: 10px;
    }

    .project>h3{
        font-size: 15px;
    }

    .projectbtn>a>button{
        width: 80px;
        height: 40px;
        font-size: 18px;
        font-family: 'Crimson Text', serif;
    }
}